link(rel="stylesheet" href="/stylesheets/navbar.css")
div(class="container-fluid")
    div(class="navbar navbar-dark navbar-expand-xl" style="background-color: midnightblue")
        a(class="nav_brand_a" href="/" id="brand") HungerHelper
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent")
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link" href="./donation-board") Donation Board
                li(class="nav-item")
                    a(class="nav-link" href="./facebook") Facebook Posts
                li(class='nav-item')
                    a(class='nav-link' href='./message-inbox-recipient') Inbox
                li(class="nav-item")
                    a(class='nav-link' href='./message-send-recipient') Send Message
                
                form(class ="form-inline" action="/logout" method="POST")
                    button(type="submit" class="btn btn-light" id="login_register_button") Logout
