extends layout

block content
  if user
    include partials/navbar-authenticated-donor
    include partials/error-message
      div(class="jumbotron")
        h1 Welcome to Hunger Helpers, #{user.uid}.
  else
    include partials/navbar-unauthenticated
    include partials/error-message
      div(class="jumbotron")
        h1 Welcome to Hunger Helpers
