extends layout

block content
  link(rel="stylesheet" href="/stylesheets/profile.css")
  if user
    include partials/navbar-authenticated
    div(class="container")
      h1 Profile:
      p User: #{user.uid}.
  else
    include partials/navbar-unauthenticated
    div(class="container")        
      h1 Login to obtain user profile
